<!-- wp:group {"className":"container navbar-container"} -->
<div class="wp-block-group container navbar-container"><!-- wp:template-part {"slug":"header","theme":"fitness","tagName":"header","className":"site-header navbar navbar-expand-lg navbar-light navbar-sticky navbar-stuck nav-area"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:cover {"url":"https://s.w.org/images/core/5.8/forest.jpg","dimRatio":60,"minHeight":800,"align":"full"} -->
<div class="wp-block-cover alignfull" style="min-height:800px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-60 has-background-dim"></span><img class="wp-block-cover__image-background" alt="" src="https://s.w.org/images/core/5.8/forest.jpg" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:heading {"textAlign":"center","level":1,"align":"wide","style":{"color":{"text":"#ffe074"},"typography":{"fontSize":"150px"}}} -->
<h1 class="alignwide has-text-align-center has-text-color" style="color:#ffe074;font-size:150px">404</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size">Oops! Page Not Found</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"fitness","tagName":"footer","className":"footer-area"} /-->