<!-- wp:group -->
<div class="wp-block-group banner-bg">
    <!-- wp:group -->
    <div class="wp-block-group container navbar-container">   
    <!-- wp:template-part {"slug":"header","theme":"fitness","tagName":"header","className":"site-header navbar navbar-expand-lg navbar-light navbar-sticky navbar-stuck nav-area"} /-->
    </div>
    <!-- /wp:group -->
    <!-- wp:group -->
    <div class="wp-block-group banner-slider-wrap">
        <!-- wp:group -->
        <div class="wp-block-group banner-slider" id="banner-slider">
            <!-- wp:pattern {"slug":"fitness/banner-slider"} /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
    <!-- wp:pattern {"slug":"fitness/registration-form"} /-->
</div>
<!-- /wp:group -->





<!-- wp:pattern {"slug":"fitness/card-section-default"} /-->

<!-- wp:pattern {"slug":"fitness/card-section-simple"} /-->

<!-- wp:pattern {"slug":"fitness/card-section-slider"} /-->

<!-- wp:pattern {"slug":"fitness/testimonial-slider"} /-->

<!-- wp:template-part {"slug":"footer","theme":"fitness","tagName":"footer","className":"footer-area"} /-->