<!-- wp:group {"className":"container navbar-container"} -->
<div class="wp-block-group container navbar-container">
	<!-- wp:template-part {"slug":"header","theme":"fitness","tagName":"header","className":"site-header navbar navbar-expand-lg navbar-light navbar-sticky navbar-stuck nav-area"} /-->
</div>
<!-- /wp:group -->

<!-- wp:cover {"url":"https://s.w.org/images/core/5.8/forest.jpg","dimRatio":60,"minHeight":367,"minHeightUnit":"px","align":"full"} -->
<div class="wp-block-cover alignfull" style="min-height:367px">
	<span aria-hidden="true" class="wp-block-cover__background has-background-dim-60 has-background-dim"></span>
	<img class="wp-block-cover__image-background" alt="" src="https://s.w.org/images/core/5.8/forest.jpg" data-object-fit="cover"/>
	<div class="wp-block-cover__inner-container">
		<!-- wp:post-title {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"64px"}}} /-->
	</div>
</div>
<!-- /wp:cover -->

<!-- wp:group -->
<div class="wp-block-group">
	<!-- wp:columns {"verticalAlignment":null} -->
	<div class="wp-block-columns">
		<!-- wp:column {"verticalAlignment":"top","width":"33.33%"} -->
		<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:33.33%">
			<!-- wp:post-featured-image /-->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"66.66%"} -->
		<div class="wp-block-column" style="flex-basis:66.66%">
			<!-- wp:post-content /-->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group">
	<!-- wp:post-date {"textAlign":"right"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"fitness","tagName":"footer","className":"footer-area"} /-->